---
permalink: /index.html
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url='/de/'" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>If you are not redirected automatically, follow this <a href="/de/">link to the German site</a>.</p>
  </body>
</html>